@import url('https://fonts.googleapis.com/css2?family=satisfy&display=swap')


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Satisfy", cursive;
    min-height: 100vh;
    font-size: 1rem;
    background-color: rgb(53, 40, 40);
    color: aliceblue;
    line-height: 1.7;
}

.logo{
    font-weight: 700;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-shadow: 1px 1px 1px; 
    position: sticky;
}

.nav{
    float: right;
    word-spacing: 2px;
    margin-left: 6px;
    padding: 3px;
    word-spacing: 2rem;
    position: sticky;
}
.nav a{
    text-decoration: none;
    color: azure;
}

.nav a:hover{
    color: rgb(53, 40, 40);
    background-color: whitesmoke;
    text-decoration: underline;
    border-radius: 2px;
    margin: 2px;
    padding: 6px;
}

.nav a:active{
    color: rgb(138, 94, 94);
    background-color: whitesmoke;
    border-radius: 2px;
    margin: 2px;
    padding: 6px;
}

.h1{
    font-weight: 500;
    margin-top: 100px;
    letter-spacing: 2px;
}

.img{
    width: 300px;
    height: auto;
    float: right;
}

.paragraph{
    word-spacing: 1.4;
    line-height: 1.6;
    word-spacing: 1.3;
}

.btn{
    margin-top: 20px;
    font-family: inherit;
    color: #000;
    display: block;
    margin: auto;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 6px;
}

.btn a:link{
    text-decoration: none;
    color: #6e5d47;
}

.btn a:hover{
    color: rgb(53, 40, 40);
    background-color: whitesmoke;
    text-decoration: underline;
    border-radius: 2px;
    margin: 2px;
    padding: 6px;  
}
@media screen and (min-width: 481px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
}
@media screen and (max-width: 769px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family: "Satisfy", cursive;
        min-height: 100vh;
        font-size: 3rem;
        background-color: green);
        color: blue;
        line-height: 1.7;
    }
}
@media screen and (min-width: 1025px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
