@import url('https://fonts.googleapis.com/css2?family=satisfy&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Satisfy", cursive;
    font-size: 1.3rem;
    background: url(img/pexels-laker-6156576.jpg);
    background-size: cover;
    color: aliceblue;
    width: 100%;
    
}
.logo{
    font-weight: 700;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-shadow: 1px 1px 1px;
    
}

.nav{
    float: right;
    word-spacing: 2px;
    margin-left: 6px;
    padding: 3px;
    word-spacing: 2rem;
    position: sticky;

}
.nav a:link{
    text-decoration: none;
    color: rgb(53, 40, 40);
}

.nav a:hover{
    color: rgb(53, 40, 40);
    background-color: whitesmoke;
    text-decoration: underline;
    border-radius: 2px;
    margin: 2px;
    padding: 6px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.content{
    text-align: center;
    margin-top: 1.5rem;
    padding: 1.5rem;
    width: 30%;
    border: 4px solid black;
    box-shadow: 1px 1px 2px;
    border-radius: 20px;
    line-height: 1.4;
}
.placeholder{
    padding: 10px;
    font-size: inherit;
    border-radius: 5px;
}
a{
    text-decoration: underline;
    color: rgb(53, 40, 40);
}
a:hover{
    color: rgb(53, 40, 40);
    background-color: whitesmoke;
    text-decoration: underline;
    border-radius: 2px;
    margin: 2px;
    padding: 6px;
}

a:active{
    color: rgb(53, 40, 40);
    background-color: whitesmoke;
    border-radius: 2px;
    margin: 2px;
    padding: 6px;
}
.btn{
    font-family: inherit;
    font-size: inherit;
}
.btn a:link{
    text-decoration: none;
    color: rgb(53, 40, 40);
    display: block;
    margin: auto;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 6px;
    }
    
.btn a:hover{
    color: rgb(53, 40, 40);
    background-color: whitesmoke;
    text-decoration: underline;
    border-radius: 2px;
    margin: 2px;
    padding: 6px;  
}
.bx{
    font-size: inherit;
}
    
@media screen and (min-width: 481px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
}
@media screen and (min-width: 769px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 1025px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}